<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pokemon_integration>
            <settings>
                <enabled>1</enabled>
                <api_url>https://pokeapi.co/api/v2/pokemon</api_url>
            </settings>
        </pokemon_integration>
    </default>
</config>
